@model IEnumerable<Product>
@{
    ViewData["Title"] = "Product Catalog";
}

<a asp-action="Create"
    asp-controller="Product">Create Product</a>

<h1>All available products</h1>

<p>Sorry, we still need to write the code
    to show you our products</p>
